$primary-font: "Roboto";

.iconBox {
  padding-top: 10px;
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
      padding-top: 10px;
    font-family: $primary-font;
    font-size: 44px;
    font-weight: 100;
    a{
        text-decoration: none;
        color: #000;
    }
  }
}

.iconImg {
  width: 200px;
  height: 200px;
  background-size: contain;
}

.map {
  background-image: url("/src/img/contact-icons/map.png");
}
.phone {
    background-image: url("/src/img/contact-icons/call.png");
  }
  .instagram {
    background-image: url("/src/img/contact-icons/instagram.png");
  }
