$logo-font: "BrushScriptMT";
$primary-font: "Roboto";

nav {
  position: fixed;
  top: 0;
  width: 100%;
  font-family: $primary-font;
  margin: 0;
  box-shadow: 0px 3px 5px rgba($color: #000, $alpha: 0.6);
  background: rgba($color: #f6f6f6, $alpha: 1.0);
  label {
    font-size: 2.5rem;
    font-family: $logo-font;
    color: #333;
    margin-left: 15px;
  }

  .btn {
    position: absolute;
    right: 10px;
    top: -2px;
    color: #000000;
    font-size: 18px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.8rem;
  }
}

.active {
  background: rgba($color: #f6f6f6, $alpha: 1.0);
}

.menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  transition: height 0.4s ease-in-out;
  .menuItem {
    width: 100%;
    line-height: 15px;
    text-align: center;
    text-transform: capitalize;
    color: #333;
    font-size: 1.2rem;
    padding: 20px 0;
    border-top: 1px solid #333;
    cursor: pointer;
  }
  /*.menuItem:nth-child(1) {
    border-top: 1px solid #333;
    margin-top: 10px;
  }*/
}

@media screen and (min-width: 811px) {
  .nav {
    margin-top: 0;
    height: 50px;
    display: flex;
    justify-content: space-between;
    label {
      margin-left: 10%;
    }
    .menu {
      height: 100%;
      flex-direction: row;
      margin-right: 10%;
      .menuItem {
        border: none;
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }

  .btn {
    display: none;
  }
}
